@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&display=swap");

.container {
  width: 100%;
  margin: auto;
  font-family: "Playfair Display", serif;
}

.grid_items {
  width: 80%;
  margin: auto;
}
.container h1 {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 1.3rem;
  }
}

.episode_id span {
  border-radius: 360px;
  background-color: white;
  color: black;
  padding: 5px;
  box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.5);
}

.series_airdate {
  margin: 20px 0;
}
.episode_container {
  width: 100%;
  margin: 40px auto;

  border: 1px solid #f9f9f9;
  box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  padding: 20px;
}
.episode_series_characters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.episode_container span {
  background-color: white;
  border-radius: 360px;
  color: black;
  padding: 10px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
